<a href="https://colab.research.google.com/github/MonkeyWrenchGang/MGTPython/blob/main/module_5/ImportMultipleFilesExample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How do i import multiple files into a panda's dataframe?


---

In [2]:
# --------------------------------
import warnings
warnings.filterwarnings('ignore')
# --------------------------------

import pandas as pd
import numpy as np
import matplotlib.pyplot  as plt
import seaborn as sns

%matplotlib inline

# Looping to load a bunch of files from Github 


---



1. start with the base path to the files
2. create an empty data frame, this is where we are going to append our imported data to. 
3. loop over the files, in this case we are using a range function to give us a sequence number range(1,4) will produce 1, 2, and 3 but not 4. 
4. we'll create a string that contains the full path to the file using the "format()" function. 
5. next we'll import the file to a "temporary" dataframe
6. we'll finally append the file to our empty data frame
7. repeat for each file.

In [6]:
# base file path. 
path = "https://raw.githubusercontent.com/MonkeyWrenchGang/MGTPython/main/module_5/mid-term/"

# create empty data frame 
phys = pd.DataFrame()

for i in range(1,4):
  #print(i)
  file = "{}scnctn_physicians_{}.csv".format(path,i)
  print(file)
  # import the file 
  temp = pd.read_csv(file)
  # here you need to concatenate 
  phys = pd.concat([phys,temp])

print("file contains {} rows and {} columns".format(phys.shape[0],phys.shape[1]))

https://raw.githubusercontent.com/MonkeyWrenchGang/MGTPython/main/module_5/mid-term//scnctn_physicians_1.csv
https://raw.githubusercontent.com/MonkeyWrenchGang/MGTPython/main/module_5/mid-term//scnctn_physicians_2.csv
https://raw.githubusercontent.com/MonkeyWrenchGang/MGTPython/main/module_5/mid-term//scnctn_physicians_3.csv
file contains 84037 rows and 73 columns

# Clean up Column Names and Check Rows and Columns 


---

In [7]:
phys.columns = ( phys.columns
    .str.strip()
    .str.lower()
    .str.replace(' ', '_')
    .str.replace('-', '_')
    .str.replace('(', '')
    .str.replace(')', '')
    .str.replace('?', '')
    .str.replace('\'', '') # notice the backslash \ this is an escape character
)
print(phys.columns)
phys.head()

Index(['rndrng_npi', 'rndrng_prvdr_last_org_name', 'rndrng_prvdr_first_name',
       'rndrng_prvdr_mi', 'rndrng_prvdr_crdntls', 'rndrng_prvdr_gndr',
       'rndrng_prvdr_ent_cd', 'rndrng_prvdr_st1', 'rndrng_prvdr_st2',
       'rndrng_prvdr_city', 'rndrng_prvdr_state_abrvtn',
       'rndrng_prvdr_state_fips', 'rndrng_prvdr_zip5', 'rndrng_prvdr_ruca',
       'rndrng_prvdr_ruca_desc', 'rndrng_prvdr_cntry', 'rndrng_prvdr_type',
       'rndrng_prvdr_mdcr_prtcptg_ind', 'tot_hcpcs_cds', 'tot_benes',
       'tot_srvcs', 'tot_sbmtd_chrg', 'tot_mdcr_alowd_amt',
       'tot_mdcr_pymt_amt', 'tot_mdcr_stdzd_amt', 'drug_sprsn_ind',
       'drug_tot_hcpcs_cds', 'drug_tot_benes', 'drug_tot_srvcs',
       'drug_sbmtd_chrg', 'drug_mdcr_alowd_amt', 'drug_mdcr_pymt_amt',
       'drug_mdcr_stdzd_amt', 'med_sprsn_ind', 'med_tot_hcpcs_cds',
       'med_tot_benes', 'med_tot_srvcs', 'med_sbmtd_chrg',
       'med_mdcr_alowd_amt', 'med_mdcr_pymt_amt', 'med_mdcr_stdzd_amt',
       'bene_avg_age', 'bene_age_lt_65_cnt', 'bene_age_65_74_cnt',
       'bene_age_75_84_cnt', 'bene_age_gt_84_cnt', 'bene_feml_cnt',
       'bene_male_cnt', 'bene_race_wht_cnt', 'bene_race_black_cnt',
       'bene_race_api_cnt', 'bene_race_hspnc_cnt', 'bene_race_natind_cnt',
       'bene_race_othr_cnt', 'bene_dual_cnt', 'bene_ndual_cnt',
       'bene_cc_af_pct', 'bene_cc_alzhmr_pct', 'bene_cc_asthma_pct',
       'bene_cc_cncr_pct', 'bene_cc_chf_pct', 'bene_cc_ckd_pct',
       'bene_cc_copd_pct', 'bene_cc_dprssn_pct', 'bene_cc_dbts_pct',
       'bene_cc_hyplpdma_pct', 'bene_cc_hyprtnsn_pct', 'bene_cc_ihd_pct',
       'bene_cc_opo_pct', 'bene_cc_raoa_pct', 'bene_cc_sz_pct',
       'bene_cc_strok_pct', 'bene_avg_risk_scre'],
      dtype='object')

,rndrng_npi,rndrng_prvdr_last_org_name,rndrng_prvdr_first_name,rndrng_prvdr_mi,rndrng_prvdr_crdntls,rndrng_prvdr_gndr,rndrng_prvdr_ent_cd,rndrng_prvdr_st1,rndrng_prvdr_st2,rndrng_prvdr_city,...,bene_cc_dprssn_pct,bene_cc_dbts_pct,bene_cc_hyplpdma_pct,bene_cc_hyprtnsn_pct,bene_cc_ihd_pct,bene_cc_opo_pct,bene_cc_raoa_pct,bene_cc_sz_pct,bene_cc_strok_pct,bene_avg_risk_scre
0,1003000720,Hernandez,Otniel,NaN,DNP,M,I,3163 Gammon Ln Ste 422,NaN,Clemmons,...,0.27,0.28,0.46,0.62,0.22,0.09,0.38,0.06,NaN,1.3417
1,1003000936,Stellingworth,Mark,A,MD,M,I,701 Medical Park Dr Ste 301,NaN,Hartsville,...,0.25,0.45,0.75,0.75,0.64,0.07,0.53,0.04,0.13,1.8890
2,1003002254,Walgreen Co.,NaN,NaN,NaN,NaN,O,5104 Bobby Hicks Hwy,NaN,Gray,...,0.18,0.18,0.52,0.55,0.25,NaN,0.36,0.00,NaN,0.8218
3,1003002841,Choudhary,Saher,K,M.D.,F,I,109 Physicians Dr Ste C,NaN,Greer,...,0.41,0.42,0.75,0.75,0.49,0.12,0.42,NaN,0.74,1.8582
4,1003006172,Quezada,Nestor,NaN,MD,M,I,4539 Hedgemore Dr,Ste 100,Charlotte,...,0.43,0.57,0.71,0.75,0.47,0.11,0.52,0.06,0.14,3.2293